.wrapper {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.input {
  height: 5.2rem;
  width: 63.8rem;
  padding-left: 1.6rem;

  border: 0;
  border-radius: 0.8rem;
  background-color: var(--gray-500);
  border: 0.2rem var(--gray-500) solid;

  font-size: 1.6rem;
  color: var(--gray-100);

  transition: 0.2s;
}

.input::placeholder {
  color: var(--gray-300);
}

.input:focus,
.input:not(:placeholder-shown) {
  outline: none;
  border: 0.2rem var(--purple-dark) solid;

  transition: 0.2s;
}

.button {
  height: 5.2rem;
  width: 9rem;

  border: 0;
  border-radius: 0.8rem;
  background-color: var(--blue-dark);

  font-weight: bold;
  color: var(--gray-100);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  transition: 0.2s;
}

.button:hover {
  background-color: var(--blue);
  transition: 0.2s;
}

.button:active {
  background-color: var(--blue-dark);
}
